*.json
/node_modules/*
DuckHunt_C2.zip
DuckHunt_C2_V2.zip
sounds/shotgun.mp3
sounds/shotgunorigi.mp3
sounds/GUN_FIRE-GoodSoundForYou-820112263 (1).mp3
sounds/shotgunreloadorigi.mp3
sounds/ShotsFiredtuttu.mp3